@model IEnumerable<GameExchange.Models.Product>

<div class="row pb-3">
	@foreach(var product in Model)
	{
		<div class="col-lg-4 col-md-4 col-sm-4 col-6">
			<div class="row p-2">
				<div class="col-12 p-1" id="product">
					<a asp-action="Details" asp-route-productId="@product.Id" style="text-decoration: none; color: black;">
						<div class="card" style="border: 1px solid rgb(225, 225, 225);">
						<img src="@product.ImageUrl" class="card-img-top" id="images">
							<div class="card-body" style="background-color:rgb(225, 225, 225);">
								<div class="pl-1">
									<p class="card-title h5" style="font-family: 'Raleway', sans-serif; color:black;" >@product.Title</p>
									<p class="card-title">@product.Developer</p>
								</div>
								<div class="pl-1">
									<p style="font-size: small"><strike><b>$@product.ListPrice.ToString("0.00")</b></strike>    <b style="color:red">$@product.Price100.ToString("0.00")</b></p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	}
</div>